logs
target
*.iml
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.g8
project/project
docker/compose/data
docker/build/*.zip
docker/build/*.der
conf/rds-combined-ca-bundle.p12
.DS_Store
.bsp